.button-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.dynamic-button {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
  width: 259px;
  height: 42px;
  top: 618px;
  left: 577px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
}
